.nav .NavRightSection .MenuIcon{
background-image: url('https://www.google.com.co/intl/es-419/about/products');
background-repeat: no-repeat;
background-position: center;
background-size: contain;
Width: 26px;
height: 26px;
}/*  */